{% extends "layouts/main.html" %}

{% set pageName = "Where did the encounter happen?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["location"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["location"], href: "#location" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukInput({
      id: "location",
      name: "location",
      label: {
        text: "Where did the encounter happen?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, Bristol city centre or grid reference SU 12345 67890" },
      errorMessage: errors["location"] if errors else null,
      value: data["location"]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
